<h4>票据查询</h4>
<%=form_tag pjmrs_path, method: :get, class: 'form-horizotal' do%>
<%=render partial: 'pjmrFindCons'%>	
<%=submit_tag "查询", class: "btn  btn-default" %>

<% end %>
<hr>
库存票据金额总计：<%=@pjye%> &nbsp;&nbsp; 资金余额总计：<%=@zjye%>
<%=form_tag rksq_pjmrs_path, method: :put do %>
<%= will_paginate %>
<%=render partial: 'pjmrList', object: @pjmrs%>
<%= will_paginate %>

<% end %>
