<h4>待入库申请票据查询</h4>
<%=form_tag rksqIndex_pjmrs_path, method: :get, class: 'form-horizontal' do%>
<%=render partial: 'pjmrFindCons'%>	
<%=submit_tag "查询", class: "btn btn-large btn-primary" %>

<% end %>
<hr>
<%= will_paginate %>
<%=form_tag rksq_pjmrs_path, method: :put do %>

<%=render partial: 'pjmrList', object: @pjmrs%>
<%= submit_tag "入库申请",  class: "btn btn-large btn-primary",data: {confirm: "确认进行入库申请吗？"}%>


<% end %>

