<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SYS1601", root_path, id: "logo" %>
      <nav>
        <ul class="nav nav-pills">
          <li><%= link_to "首页", root_path %></li>
         

         <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                票据管理
              </a>
              <ul class="dropdown-menu">
                <% if can? :lrIndex, Pjmr %>
                   <li><%= link_to "录入管理", lrIndex_pjmrs_path %></li>      
                <% end %>
                <% if can? :rkdshIndex, Pjmr %>         
                  <li><%= link_to "入库审核", rkdshIndex_pjmrs_path %></li>
                <% end %>
                <% if can? :rkIndex, Pjmr %>
                  <li><%= link_to "出库申请", rkIndex_pjmrs_path %></li>
                <% end %>
                <% if can? :ckdshIndex, Pjmr %>
                  <li><%= link_to "出库审核", ckdshIndex_pjmrs_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "票据查询", pjmrs_path %></li> 
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                资金管理
              </a>
              <ul class="dropdown-menu">
                <% if can? :lrIndex, Zjtz %>
                  <li><%= link_to "录入管理", lrIndex_zjtzs_path %></li> 
                <% end %>              
                <% if can? :rjdshIndex, Zjtz %>
                  <li><%= link_to "入账审核", rjdshIndex_zjtzs_path %></li>
                <% end %>
                <% if can? :rjIndex, Zjtz %>
                  <li><%= link_to "结清申请", rjIndex_zjtzs_path %></li>
                <% end %>
                <% if can? :cjdshIndex, Zjtz %>
                  <li><%= link_to "结清审核", cjdshIndex_zjtzs_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "资金查询", zjtzs_path %></li> 
              </ul>
            </li>

             <li><%= link_to "帮助", help_path %></li>
          <% if signed_in? %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                用户(<%=current_user.name%>)
              </a>
              <ul class="dropdown-menu">
              
                <li><%= link_to "设置", edit_user_path(current_user) %></li>
                <% if can? :index, User %>
                  <li><%= link_to "用户管理", users_path %> </li>
                <% end %>
                <li class="divider"></li>
                <li>
                <%= link_to "退出", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to "登录", signin_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>